{% extends "base.html" %}

{% block content %}
<h1>Поиск</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.search.label }} <br>
        {{ form.search(class="form-control") }} <br>
        {% for error in form.search.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p> {{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{ masege }}
</form>
{% endblock %}